<!-- header -->
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 left">
                <div class="avatar">
                    <img src="assets/mike.png" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-7 right">
                <h1 class="hide">Mike Mainier</h1>
                <h1 class="heading">HELLO, I'M MIKE!</h1>
                <p>An Agile Project Manager from Pittsburgh. Want to know more about me?</p>
                <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<div class="container">
	<h1 class="stolen-h1 span12 offset1">"She helped me overcome my fear of failure, encouraged me to step outside of my comfort zone, and taught me to cross bridges I would have never crossed on my own." </h1>
	<h2 class="span11 offset6">
		- Michael Mainier, loving husband
	</h2>
</div>

<div class="container">
<div class="row">
        <div class="col-lg-4 right">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
      </div>
     </div>

<br/>


<a class="btn btn-lg btn-success" href="#" role="button">Get started today</a>
<button type="button" class="btn btn-primary btn-lg">Assess your personal value</button>



</br>

